
@{
    ViewBag.Title = "Responder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePag = "Responder Encuesta Ticket Nro. " + ViewBag.TIC_ID;
}
<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">

            <!-- form start -->
            <form role="form" id="form_pregunta">
				<div class="box-body">
					<p><b>USUARIO: </b><label id="USU_ID" style="font-weight: 100"></label></p>
					<p><b>Nombre: </b><label id="USU_Nombre" style="font-weight: 100"></label></p>
                    <input type="hidden" name="TIC_EMP_ID" id="TIC_EMP_ID"/>
					<p><b>Descripción del Ticket: </b><label id="TIC_Descripcion" style="font-weight: 100"></label></p>
					<p><b><u>Estimado Usuario debe responder las siguientes preguntas:</u></b></p>
					<div id="lista_pregunta"></div>
				</div>
                <!-- /.box-body -->

                <div class="box-footer" style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("Index", "Encuesta")" class="btn btn-default btn-lg">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {

	mostrarDatosTicket = function () {
		$.ajax({
			url: $("#UrlServicio").val() + "/api/Ticket/EditarTicket",
			type: "POST",
			dataType: "json",
			data: { TIC_ID:@ViewBag.TIC_ID },
			success: function (data) {
				var html = "";

				if (data != null) {
					$("#USU_ID").html(data[0].TIC_USU_ID);
					$("#USU_Nombre").html(data[0].USU_Nombre);
                    $("#TIC_Descripcion").html(data[0].TIC_Descripcion);
                    $("#TIC_EMP_ID").val(data[0].TIC_EMP_ID);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(xhr.status);
				console.log(thrownError);
			}
		});
	}

	mostrarDatosTicket();

    listarPregunta = function () {
        $.ajax({
            url: $("#UrlServicio").val() + "/api/Encuesta/ListadoPreguntaEncuesta",
            type: "POST",
            dataType: "json",
            success: function (data) {
                var html = "";

                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        
                        html += "<p>" + parseInt(i + 1) + "." + data[i].PRE_Descripcion + "</p>";
                        html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type='radio' name='RES" + data[i].TEP_ID + "' id='RES" + data[i].TEP_ID + "_1' TEP_ID='" + data[i].TEP_ID+"' value='1' required='required'>&nbsp;&nbsp;1</label>";
                        html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type='radio' name='RES" + data[i].TEP_ID + "' id='RES" + data[i].TEP_ID + "_2' TEP_ID='" + data[i].TEP_ID +"' value='2' required='required'>&nbsp;&nbsp;2</label>";
                        html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type='radio' name='RES" + data[i].TEP_ID + "' id='RES" + data[i].TEP_ID + "_3' TEP_ID='" + data[i].TEP_ID +"' value='3' required='required'>&nbsp;&nbsp;3</label>";
                        html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type='radio' name='RES" + data[i].TEP_ID + "' id='RES" + data[i].TEP_ID + "_4' TEP_ID='" + data[i].TEP_ID +"' value='4' required='required'>&nbsp;&nbsp;4</label>";
                        html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type='radio' name='RES" + data[i].TEP_ID + "' id='RES" + data[i].TEP_ID + "_5' TEP_ID='" + data[i].TEP_ID +"' value='5' required='required'>&nbsp;&nbsp;5</label>";

                        //console.log(data[i].PRE_Descripcion);

                    }
                } else {
                    html += "<h3>No hay preguntas para este periodo</h3>";
                }
				$("#form_pregunta #lista_pregunta").html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    listarPregunta();

    $("#form_pregunta").on("submit", function (event) {

        event.preventDefault();
        
		$.confirm({
			title: 'Mensaje de confirmación!',
			content: "¿Estas seguro de enviar la respuesta?",
			buttons: {
				confirm: {
					text: "SI",
					btnClass: 'btn-blue',
                    action: function () {

                        
                        var Pregunta = [];
                        $("#form_pregunta input[type=radio]:checked").each(function () {
                            
                            var preg = { TEP_ID: $(this).attr('TEP_ID'), TEP_Respuesta: $(this).val() };

                            Pregunta.push(preg);
                        });

                        if (Pregunta.length > 0) {

                            var procesoData = {
								ERE_TEP_ID: 1,
								ENC_TEN_Id: 1,
                                'Pregunta': Pregunta,
                                ENC_Titulo: 'Prueba',
                                ENC_Descripcion: 'Prueba',
                                ENC_TUS_ID: 1,//Cliente
                                ENC_EMP_ID: $("#TIC_EMP_ID").val(),//parametro
                                TIC_ID:@ViewBag.TIC_ID,
                                ENC_UsuarioCreacion: "@System.Configuration.ConfigurationManager.AppSettings["USUS_Login"]"
                            };

                            $.ajax({
                                url: $("#UrlServicio").val() + "/api/Encuesta/ResponderEncuesta",
                                type: "POST",
                                data: procesoData,//$("#form_registro").serialize(),
                                success: function (data) {
                                    window.location.href = "@Url.Action("Index", "Encuesta")";
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    console.log(xhr.status);
                                    console.log(thrownError);
                                }
                            });
                        } else {
                            alert("No hay respuesta ingresadas!");
                        }
                        
					}
				},
				cancel: {
					text: "NO",
					btnClass: 'btn-danger',
					action: function () {
						//$("#tblGrilla").dataTable().api().ajax.reload();
					}
				}
			}
		});
    })
})
</script>

