
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePag = "Registrar Atención";
}

<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">

            <!-- form start -->
            <form role="form" id="form_registro">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="nombre">Nro. Ticket:</label>
                                <input type="text" class="form-control" id="TIC_TEM_ID" name="TIC_TEM_ID" autocomplete="off" disabled>
                                <input type="hidden" class="form-control" id="ATE_TIC_ID" name="ATE_TIC_ID">
                                <input type="hidden" class="form-control" id="ATE_RES_ID" name="ATE_RES_ID" value="@System.Configuration.ConfigurationManager.AppSettings["USUS_ID"]">
                                <input type="hidden" class="form-control" id="ATE_PRI_ID" name="ATE_PRI_ID">
                                
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="nombre">Fecha Inicio de Atención:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control form_datetime" id="ATE_FechaInicio" name="ATE_FechaInicio" required autocomplete="off">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="nombre">Fecha Fin de Atención:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control form_datetime" id="ATE_FechaFin" name="ATE_FechaFin" required autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="nombre">Resuelto?:</label><br />
                                <input type="checkbox" id="RST_ID" name="RST_ID" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nombre">Descripción de la incidencia:</label>
                                <textarea id="TIC_Descripcion" name="TIC_Descripcion" class="form-control" required disabled></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nombre">Detalle del Trabajo:</label>
                                <textarea id="ATE_TIC_Descripcion" name="ATE_TIC_Descripcion" class="form-control" required></textarea>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.box-body -->

                <div class="box-footer" style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("Index", "Ticket")" class="btn btn-default btn-lg">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {

    //Date picker
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd HH:ii:ss',
        autoclose:true
    });
    //$(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });

    editarTicket = function () {
        $.ajax({
            url: $("#UrlServicio").val() + "/api/Ticket/EditarTicket",
            type: "POST",
            dataType: "json",
            data: {TIC_ID:@ViewBag.TIC_ID},
            success: function (data) {
                $("#ATE_TIC_ID").val(data[0].TIC_ID);
                $("#TIC_TEM_ID").val(data[0].TIC_CODE);
                $("#EMP_RazonSocial").val(data[0].EMP_RazonSocial);
                $("#USU_Nombre").val(data[0].USU_Nombre);
                $("#TIC_SER_ID").val(data[0].TIC_SER_ID).attr("disabled", "disabled");
                $("#TIC_PROB_ID").val(data[0].TIC_PROB_ID).attr("disabled", "disabled");
                $("#ATE_PRI_ID").val(data[0].TIC_PRI_ID);
                $("#TIC_Descripcion").val(data[0].TIC_Descripcion);
                $("#TIC_RES_ID").val(data[0].TIC_RES_ID);
                $("#RES_Nombre").val(data[0].RES_Nombre);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    editarTicket();

    $("#form_registro").submit(function (event) {
        event.preventDefault();

		$.confirm({
			title: 'Mensaje de confirmación!',
            content: "“¿Confirma que desea realizar esta acción?",
			buttons: {
				confirm: {
					text: "SI",
					btnClass: 'btn-blue',
                    action: function () {
                        var resuelto = 0;
                        if ($("#RST_ID").is(":checked")) {
                            var resuelto = 1;
                        }
                        
						$.ajax({
                            url: $("#UrlServicio").val() + "/api/Ticket/InsertarAtencionTicket",
							type: "POST",
                            data: $("#form_registro").serialize() + "&ATE_RST_ID=" + resuelto,
							success: function (data) {
								window.location.href = "@Url.Action("Index", "Ticket")";
							},
							error: function (xhr, ajaxOptions, thrownError) {
								console.log(xhr.status);
								console.log(thrownError);
							}
						});
					}
				},
				cancel: {
					text: "NO",
					btnClass: 'btn-danger',
					action: function () {
						//$("#tblGrilla").dataTable().api().ajax.reload();
					}
				}
			}
        });

    });

});
</script>
