@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePag = "Listado de Ticket";
}
<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<input type="hidden" id="IdEmpleado" value="@System.Configuration.ConfigurationManager.AppSettings["IdEmpleado"]" />
<input type="hidden" id="IdRol" value="@System.Configuration.ConfigurationManager.AppSettings["IdRol"]" />
<script type="text/javascript">
    $(document).ready(function () {

        listarEstado = function (TEN_ID) {
            $.ajax({
                url: $("#UrlServicio").val() + "/api/Ticket/ListadoEstado",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        var options = "";
                        for (var i = 0; i < data.length; i++) {
                            $("#TIC_EST_ID").append("<option value=" + data[i].EST_ID + ">" + data[i].EST_Descripcion + "</option>");
                        }
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        listarEstado();

        listarHistorialTicket = function (id) {

            $.ajax({
                url: $("#UrlServicio").val() + "/api/Ticket/ListadoHistorialTicket",
                type: "POST",
                dataType: "json",
                data: { "HIS_TIC_ID": id },
                success: function (data) {

                    if (data != null) {
                        if (data.length > 0) {
                            var html = '';
                            for (var i = 0; i < data.length; i++) {

                                html += "<tr>";
                                html += "<td>" + data[i].HIS_TIC_ID + "</td>";
                                html += "<td>" + data[i].PRI_Descripcion + "</td>";
                                html += "<td>" + data[i].RES_Nombre + "</td>";
                                html += "<td>" + data[i].HIS_Descripcion + "</td>";
                                html += "<td>" + data[i].HIS_FechaCambio + "</td>";
                                html += "<td>0</td>";
                                html += "<td align='center'><span class='glyphicon glyphicon-user fa-1x'></span></td>";
                                html += "</tr>";
                            }

                            $("#content_historico").html(html);
                        }
                    } else {
                        $("#content_historico").html('<tr><td colspan="3">No existe historico para el Ticket</td></tr>');
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });

        }

        $("#consultar").on("click", function () {
            $("#tblGrilla").dataTable().api().ajax.reload();
        });

		function llenarTablaGrilla() {
            tblGrilla = $("#tblGrilla")
				.DataTable({
					"bLengthChange": false,
					"bFilter": false,
					"PaginationType": "full_numbers",
					"processing": true,
					"bServerSide": true,
                    "sAjaxSource": $("#UrlServicio").val() + '/api/Ticket/ListadoGrillaTicket',
					"select": true,
					"pageLength": 10,
					responsive: true,
					language: {
						"sProcessing": "Procesando...",
						"sLengthMenu": "Mostrar _MENU_ registros",
						"sZeroRecords": "No se encontraron resultados",
						"sEmptyTable": "Ningún dato disponible en esta tabla",
						"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
						"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
						"sInfoPostFix": "",
						"sSearch": "Buscar:",
						"sUrl": "",
						"sInfoThousands": ",",
						"sLoadingRecords": "Cargando...",
						"oPaginate": {
							"sFirst": "Primero",
							"sLast": "Último",
							"sNext": "Next",
							"sPrevious": "Prev"
						},
						"oAria": {
							"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
							"sSortDescending": ": Activar para ordenar la columna de manera descendente"
						}
					},
					"fnServerData": function (url, odata, callback) {
                        //debugger;
                        //console.log(odata);
                        //console.log(callback);
						entidad = {};
						var PageSize = 10;
						var PrimerRegistro = odata[3].value;;
						var CurrentPage = PrimerRegistro / PageSize;


						entidad.iPageSize = PageSize;
                        entidad.iCurrentPage = (CurrentPage>0)?CurrentPage + 1:0;
                        entidad.pvSortColumn = "TIC_ID";
                        entidad.pvSortOrder = "DESC";

                        entidad.TIC_ID = $("#TIC_ID").val();
                        entidad.EMP_RazonSocial = $("#EMP_RazonSocial").val();
                        entidad.TIC_FechaInicio = $("#TIC_FechaInicio").val();
                        entidad.TIC_FechaFin = $("#TIC_FechaFin").val();
                        entidad.TIC_EST_ID = $("#TIC_EST_ID").val();

						$.ajax({
							"url": url,
							"dataSrc": "",
							"data": entidad,
							"success":
								function (response) {
									if (response.length == 0) {
										callback({
											data: response,
											recordsTotal: 0,
											recordsFiltered: 0,

										})
									} else {
										callback({
											data: response,
											recordsTotal: response[0].iTotalRecords,
											recordsFiltered: response[0].iTotalRecords,

										})
									};


									$(".editar").click(function () {
                                        var id = $(this).attr("id");
										window.location.href = '/Ticket/Editar/' + id;
                                    });

                                    $(".abrir").click(function () {
                                        var id = $(this).attr("id");
                                        window.location.href = '/Ticket/Abrir/' + id;
                                    });

                                    $(".atencion").click(function () {
                                        var id = $(this).attr("id");
                                        window.location.href = '/Ticket/Atencion/' + id;
                                    });

                                    $(".historial").click(function () {

                                        var id = $(this).attr("id");

                                        listarHistorialTicket(id);

                                        $('#modal_historial_ticket').modal('show');
                                    })


								},
							//,
							"contentType": "application/x-www-form-urlencoded; charset=utf-8",
							"dataType": "json",
							"type": "POST",
							"cache": false,
							"error": function (resultado) {
								console.log(resultado);
								alert("DataTables warning: JSON data from server failed to load or be parsed. " +
									"This is most likely to be caused by a JSON formatting error.");
							},
						});
					},

					"aoColumns": [
						{ "title": "Nro. Ticket", "bSortable": false, bVisible: true, "data": "TIC_ID" },
						{ "title": "Empresa", "bSortable": false, bVisible: true, "data": "EMP_RazonSocial" },
                        { "title": "Usuario Solicitante", "bSortable": false, bVisible: true, "data": "USU_Nombre" },
                        { "title": "Fecha Registro", "bSortable": false, bVisible: true, "data": "TIC_FechaRegistro" },
                        { "title": "Usuario Responsable", "bSortable": false, bVisible: true, "data": "RES_Nombre" },
                        { "title": "Estado", "bSortable": false, bVisible: true, "data": "EST_Descrpcion" },
                        { "title": "Acciones", "bSortable": false, bVisible: true, "data": "ltAcciones" }
					],
					"columnDefs": [

					]
				});
		}

        llenarTablaGrilla();

        
        

    })
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <form role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-2">
                            <div class="form-group">
                                <label for="Buscar">Nro. Ticket:</label>
                                <input type="text" class="form-control" id="TIC_ID" name="TIC_ID" placeholder="" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-sm-10">
                            <div class="form-group">
                                <label for="Buscar">Empresa:</label>
                                <input type="text" class="form-control" id="EMP_RazonSocial" name="EMP_RazonSocial" placeholder="" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
                            <div class="form-group">
                                <label for="Buscar">Fecha Inicio:</label>
                                <input type="date" class="form-control" id="TIC_FechaInicio" name="TIC_FechaInicio" placeholder="" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
                            <div class="form-group">
                                <label for="Buscar">Fecha Fin:</label>
                                <input type="date" class="form-control" id="TIC_FechaFin" name="TIC_FechaFin" placeholder="" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-12">
                            <div class="form-group">
                                <label for="Buscar">Estado</label>
                                <select class="form-control" id="TIC_EST_ID" name="TIC_EST_ID">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p>
    <a href="#" class="btn btn-default btn-md" id="consultar">Consultar&nbsp;<span class="glyphicon glyphicon-search"></span></a>&nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Nuevo", "Ticket")" class="btn btn-primary btn-md">Nuevo&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
</p>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tblGrilla" class="table table-bordered" cellspacing="0" /></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="modal fade" id="modal_historial_ticket" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Historial Ticket</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nro. Ticket</th>
                                    <th>Prioridad</th>
                                    <th>Responsable</th>
                                    <th>Descripcion</th>
                                    <th>Fecha Cambio</th>
                                    <th>Nro. Resultados</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="content_historico">
                                <tr>
                                    <td colspan="3">No existe preguntas relacionadas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


