
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitlePag = "Consultar SLA";
}

<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">

            <!-- form start -->
            <form role="form" id="form_registro">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="nombre">Contrato:</label>
                                <input type="text" class="form-control" id="CON_ID" name="CON_ID" autocomplete="off" value="@ViewBag.CON_ID" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4">
							<div class="form-group">
								<label for="nombre">Empresa:</label>
								<input type="text" class="form-control" id="EMP_RazonSocial" name="EMP_RazonSocial" autocomplete="off" placeholder="Buscar Empresa">
								<input type="hidden" class="form-control" id="CON_EMP_ID" name="CON_EMP_ID">
								<input type="hidden" class="form-control" id="CSL_SER_ID" name="CSL_SER_ID">
							</div>
                        </div>
                        <div class="col-lg-3">
							<div class="form-group">
								<label for="nombre">Fecha Inicio Contrato:</label>
								<input type="text" id="CON_FechaInicioContrato1" name="CON_FechaInicioContrato1" class="form-control" required />
								<input type="hidden" id="CON_FechaInicioContrato" name="CON_FechaInicioContrato" class="form-control" />
							</div>
                        </div>
                        <div class="col-lg-3">
							<div class="form-group">
								<label for="nombre">Fecha Fin Contrato:</label>
								<input type="text" id="CON_FechaFinContrato1" name="CON_FechaFinContrato1" class="form-control" required />
								<input type="hidden" id="CON_FechaFinContrato" name="CON_FechaFinContrato" class="form-control" />
							</div>
                        </div>
                    </div><br /><br /><br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-1">Tiempo Atención menor a 10min</a></li>
                                    <li><a href="#tabs-2">Nivel resolución primer contacto</a></li>
                                    <li><a href="#tabs-3">Tickets atendidos con más de 24 horas</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <div class="contenido"></div>
                                </div>
                                <div id="tabs-2">
									<div class="contenido"></div>
                                </div>
                                <div id="tabs-3">
									<div class="contenido"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer" style="text-align: center;">
                    <a href="@Url.Action("Index", "Monitoreo")" class="btn btn-default btn-lg">Cerrar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {

    $("#tabs").tabs();

    editarContrato = function () {
        $.ajax({
            url: $("#UrlServicio").val() + "/api/Contrato/EditarContrato",
            type: "POST",
            dataType: "json",
            data: {CON_ID:@ViewBag.CON_ID},
            success: function (data) {
                $("#EMP_RazonSocial").val(data[0].EMP_RazonSocial).attr("disabled","disabled");
                $("#CON_FechaInicioContrato1").val(data[0].CON_FechaInicioContrato).attr("disabled", "disabled");
				$("#CON_FechaFinContrato1").val(data[0].CON_FechaFinContrato).attr("disabled", "disabled");
				$("#CON_FechaInicioContrato").val(data[0].CON_FechaInicioContratoI);
				$("#CON_FechaFinContrato").val(data[0].CON_FechaFinContratoF);
                $("#CON_EMP_ID").val(data[0].CON_EMP_ID);
                mostrarReporte();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    editarContrato();

    mostrarReporte = function () {

        $.ajax({
            url: $("#UrlServicio").val() + "/api/Monitoreo/ListadoLogroMonitoreo",
            type: "POST",
			data: { CSL_CON_ID: @ViewBag.CON_ID, CSL_EMP_ID: $("#CON_EMP_ID").val(), CON_FechaInicioContrato: $("#CON_FechaInicioContrato").val(), CON_FechaFinContrato: $("#CON_FechaFinContrato").val()},
			success: function (data) {
				console.log(data);
				if (data!=null) {
					for (var i = 0; i<data.length; i++) {
						//console.log(data[i].SLA_Descripcion);
						if (String(data[i].SLA_NomSistema) == "TEMP_ATE_M10M") {
							var html1 = '';
							var detalle = data[i].Medicion;

							html1 += '<div class="row">';
							html1 += '<div class="col-lg-6"><b>SLA Definido: </b>' + data[i].CSL_PorcentajeMedicion + '%</div><div class="col-lg-6"><b>Penalidad Asociada Definido: </b>S/. ' + data[i].CSL_Penalidad + '</div></label>';
							html1 += '</div>';

							if (detalle!=null) {
								for (var d = 0; d < detalle.length; d++) {
									html1 += '<br><div class="row">';
									html1 += '<div class="col-lg-4">';
									var icono = (detalle[d].REP_Cumple == 1) ? "<span class='glyphicon glyphicon-thumbs-up fa-1x' style='color:green'></span>" : "<span class='glyphicon glyphicon-thumbs-down fa-1x' style='color:red'></span>";
									html1 += '<div><span style="font-size:16px"><b>Logro ' + detalle[d].REP_Descripcion + ' ' + detalle[d].REP_Anio + ': ' + detalle[d].REP_Logro + '% </b></span>' + icono + '</div>';
									html1 += '</div>';
									html1 += '</div>';
								}
							}														
							$("#tabs-1 .contenido").html(html1);
						} else if (data[i].SLA_NomSistema == "NRESOL_PRI_CONTACTO") {
							var html2 = '';
							var detalle = data[i].Medicion;

							html2 += '<div class="row">';
							html2 += '<div class="col-lg-6"><b>SLA Definido: </b>' + data[i].CSL_PorcentajeMedicion + '%</div><div class="col-lg-6"><b>Penalidad Asociada Definido: </b>S/. ' + data[i].CSL_Penalidad + '</div></label>';
							html2 += '</div>';

							if (detalle != null) {
								for (var d = 0; d < detalle.length; d++) {
									html2 += '<br><div class="row">';
									html2 += '<div class="col-lg-4">';
									var icono = (detalle[d].REP_Cumple == 1) ? "<span class='glyphicon glyphicon-thumbs-up fa-1x' style='color:green'></span>" : "<span class='glyphicon glyphicon-thumbs-down fa-1x' style='color:red'></span>";
									html2 += '<div><span style="font-size:16px"><b>Logro ' + detalle[d].REP_Descripcion + ' ' + detalle[d].REP_Anio + ': ' + detalle[d].REP_Logro + '% </b></span>' + icono + '</div>';
									html2 += '</div>';
									html2 += '</div>';
								}
							}
							$("#tabs-2 .contenido").html(html2);
						} else if (data[i].SLA_NomSistema == "TIC_ATE_24H") {
							var html3 = '';
							var detalle = data[i].Medicion;

							html3 += '<div class="row">';
							html3 += '<div class="col-lg-6"><b>SLA Definido: </b>' + data[i].CSL_PorcentajeMedicion + '%</div><div class="col-lg-6"><b>Penalidad Asociada Definido: </b>S/. ' + data[i].CSL_Penalidad + '</div></label>';
							html3 += '</div>';
							if (detalle != null) {
								for (var d = 0; d < detalle.length; d++) {
									html3 += '<br><div class="row">';
									html3 += '<div class="col-lg-4">';
									var icono = (detalle[d].REP_Cumple == 1) ? "<span class='glyphicon glyphicon-thumbs-up fa-1x' style='color:green'></span>" : "<span class='glyphicon glyphicon-thumbs-down fa-1x' style='color:red'></span>";
									html3 += '<div><span style="font-size:16px"><b>Logro ' + detalle[d].REP_Descripcion + ' ' + detalle[d].REP_Anio + ': ' + detalle[d].REP_Logro + '% </b></span>' + icono + '</div>';
									html3 += '</div>';
									html3 += '</div>';
								}
							}
							$("#tabs-3 .contenido").html(html3);
						}
					}
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(xhr.status);
				console.log(thrownError);
			}
        });
    }

    
});
</script>
